@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: auto;
	padding: 0;
	border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* home */

.app-all{
  background-color:  pink;
  background-image: url("./images/background.png");
  background-repeat: no-repeat;
  background-size:100vw;
  background-position: 0px;
}

.home{
  height:100vh;
}

/*button*/
a.button1{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  color:white;
  width: 150px;
  margin-top: 50px
  }

a.button1:hover{
  color:purple;
  background-color:rgba(255, 255, 255, 0.774);
}

@media all and (max-width:30em){
a.button1{
  display:block;
  margin:0.4em auto;
  text-decoration: none;
  color:white;
  }
}

a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: none;  
}

.two-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*background*/

.back{
  background-image: url("./images/background.png");
  background-repeat: no-repeat;
  background-size:100vw;
  background-position: 0px;
}


.home-title{
  padding-top: 250px;
  font-size: 8em;
  color:white;
  display:flex;
  align-items: center;
  justify-content: center;
}

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  background-image: url("./images/background.png");
  background: #f7f7f7;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todos-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

img {
  object-fit: cover;
  width: 200px;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 5% 0;
}

.show-button{
  margin-top: 20px;
  padding: 1% 3%;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  color: black;
  margin-right: 10px;
  transition: background-color .3s;
  background-color: #2ecc71;
  color: #ecf0f1;
}

.show-button:hover, .show-button:focus {
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}

/* slider del cuestionario */
.slider {
  -webkit-appearance: none;
  width: 150px;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #FFD700;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #FFD700;
  cursor: pointer;
}

.table-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inner-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.private-header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.buttons-head{
  width: 30wh;
  height: 20px;
  display: flex;
  align-items: center;
}

.chat-container{
  height: 50vh;
  /* width: 700px; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin:100px;
}

.contacts{
  margin-right: 100px;
}

.contacts th{
  padding-bottom: 20px;
}

.contacts td{
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  width: 200px;
  border: 1px solid white;

}

td.contacts:hover{
  background-color:rgba(136, 41, 41, 0.774);
}

.input-message{
  margin-bottom: 20px;
  width: 30vw;
  height: 40px;
  border-bottom: 100px;
}

.login{
  display: flex;
  align-items: center;
}

.sign-log{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20vh;
  height: 450px;
  border: 4px solid white;
  border-radius: 30px;
}

.sign-log h1{
  color:white;
}

.tags{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  width: 30vw;
  border-bottom: 100px;
  color:white;
} 

.log-page{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url("./images/background.png");
}

.input-log{
  width: 300px;
  border: none;
  background-color: rgba(255, 255, 255, 0.363);
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 3px;
}

.log-submit{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  text-align:center;
  transition: all 0.2s;
  color:purple;
  width: 150px;
}

.log-submit:hover{
  color:purple;
  background-color:rgba(255, 255, 255, 0.774);
}

/* quizz */
.q-father{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url("./images/background.png");
  color: white;
}

.titles{
  align-items: center;
  flex-direction: column;
}

.bars{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.quiz-ranges{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.quiz-q {
  display: flex;
  position: relative;
  flex-direction: row;
  padding-top:20px;
  padding-bottom: 10px;
}

.description{
  height: 30px;
  background-color: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
  border-width: 0px;
  padding:5px;
  padding-left: 20px;
}

.bars{
  margin:30px; 
  padding: 10px; 
}

.bars h3{
  padding: 10px;
  margin-top:15px;
}

.dropdown select{
  width: 180px;
  color:rgb(93, 66, 214);
  background-color: rgba(255, 255, 255, 0.521);
  border-radius: 3px;
  height: 28px;
}

.dropdown:hover{
  width: 180px;
  color:rgb(93, 66, 214);
  background-color: rgba(255, 255, 255, 0.521);
  border-radius: 3px;
  height: 28px;
}

.button1{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  color:white;
  width: 150px;
  margin-top: 50px
  }

.button1:hover{
  color:purple;
  background-color:rgba(255, 255, 255, 0.774);
}

@media all and (max-width:30em){
.button1{
  display:block;
  margin:0.4em auto;
  text-decoration: none;
  color:white;
  }
}