.chatBox{
  margin-top: 80px;
  height: 40vh;
  width: 30vw;
  box-shadow: inset 0px 0px 5px 4px rgba(166,166,166,1);
  overflow-y: scroll;
  background-color: white;
  border-radius: .1rem;
}

h6{
  margin-left: 10px;
  text-align: left;
}

.textForm{
  margin-top: 30px;
}

#userList{
  margin-top: 50px;
}

#cont{
  
  background-color:rgba(116, 35, 110, 0.829);
  height: 60vh;
}

.list-group-item{
  padding: 0;
}