.chatBox{
  margin-top: 37px;
  height: 39vh;
  overflow-y: scroll;
  background-color: rgb(255, 255, 255);
  border-radius: .2rem;
  color: darkgray;
}

h6{
  margin-left: 10px;
  text-align: left;
}

.textForm{
  margin-top: 30px;
}

#userList{
  margin-top: 50px;
}

#cont{
  padding: 20px;
  background-color: rgba(116, 35, 110, 0.829);
  height: 66vh;
  width: 858px;
  border-radius: 60px;
}

.list-group-item{
  padding: 0;
}